* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --background-body: #e5e5e5;
  --background-before: #121214;
  --paragraph: #42d3ff;
  --background-form: #fafafc;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;

  background-color: var(--background-body);
}

body::before {
  content: "";
  width: 100%;
  height: 36.8rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--background-before);
}

.page {
  width: 73.6rem;
  margin-inline: auto;
}

header {
  width: 31.9rem;
  margin-top: 7.4rem;
}

header h1 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;

  font-size: 3.6rem;
  line-height: 4.2rem;
  color: white;
}

header p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;

  color: var(--paragraph);
}

form {
  margin-top: 3.8rem;
  background-color: var(--background-form);
  border-radius: 0.8rem;
  min-height: 30rem;
}
